schedule_body_grid_h = 125px
schedule_border = 1px solid #ddd

// body
@media screen and (max-width: 768px)
  .MonthScheduleBody
    &:not(.currentMonth)
      opacity .5
    .schedule__body__grid
      position relative
      z-index 10
      width calc(100% / 7)
      padding 0
      height schedule_body_grid_h
      flex 0 0 auto
      flex-direction column
      border schedule_border
      &.multiple
        &:not(.actualDday)
          z-index -10
          pointer-events none

    .grid__date
      width 100%
      text-align center
      color #333
      margin-top 8px
      margin-bottom 2px
      &.today
        position relative
        z-index 1
        font-weight 500
        color #fff
        &::before
          content ''
          position absolute
          z-index -1
          top 1px
          left calc(50% - 24px / 2)
          width 24px
          height 24px
          border-radius 50%
          background-color #84c5ab

    .grid__content
      width 100%