schedule_body_h = 100px
schedule_border = 1px solid #ddd
date_w = 20px

// body
.MonthScheduleBody
  flex-wrap wrap
  .schedule__body__grid
    position relative
    width calc(100% / 7)
    padding .25rem
    min-height schedule_body_h
    flex 0 0 auto
    border schedule_border

  .grid__date
    width date_w
    line-height 1.5
    color #333
    &.today
      font-weight 500
      color success_c

  .grid__content
    width 'calc(100% - %s)' % date_w
    position relative