dayBorder = 1px solid #ddd


// .DaySchedule

// Header
.DayScheduleHeader
  width 100%
  box-shadow 0 4px 4px 0 rgba(0, 0, 0, .1)
  .dateInfo
    width 68px
    border-right dayBorder
  .headerSlot
    padding .5rem 1rem

// Body
.DayScheduleBody
  width 100%
  overflow hidden
  .content
    width 100%
    .hourRow
      padding 0 .5rem 0 .25rem
      border-bottom dayBorder