dayBorder = 1px solid #ddd

// Header
.DayScheduleHeader
  width 100%
  position sticky
  z-index 2
  background-color #fff
  box-shadow 0 4px 4px 0 rgba(0, 0, 0, .1)
  .dateInfo
    width 68px
    border-right dayBorder
  .headerSlot
    padding .5rem 1rem
    overflow hidden
