// schedule setting
schedule_min_w = 1110px
schedule_max_h = 600px
schedule_header_h = 76px
schedule_body_h = 164px
schedule_border = 1px solid #ddd

// WeekSchedule global setting
.WeekSchedule
  position relative
  background-color #fff
  max-width 1366px
  min-width schedule_min_w
  max-height schedule_max_h
  border-radius 4px
  overflow scroll
  box-shadow 0 3px 6px 0 rgba(0, 0, 0, 0.16)

// 全部 grid 共用
.schedule__header__fixGrid, .schedule__header__grid, .schedule__body__row__fixGrid, .schedule__body__row__grid
  width calc(100% / 8)

// body 共用
.schedule__body__row__fixGrid, .schedule__body__row__grid, .schedule__body__row__empty
  padding-top 1rem
  height schedule_body_h
  flex 0 0 auto

// WeekSchedule header
.schedule__header
  // position fixed 會吃 window width 而不是父層, 這邊先用 sticky 解決, 若有相容性問題 方案 2 用 js
  position sticky
  top 0
  z-index 10
  border-radius 4px 4px 0 0
  background-color #ccc
  height schedule_header_h
  min-width schedule_min_w

.schedule__header__fixGrid
  color #fff

.fixGrid__label
  setTextStyle(0.875rem, 500, info_c)

.fixGrid__hour
  setTextStyle(0.75rem, 500, #666)
  margin-top .25rem
  text-align center
  i
    position relative
    margin-left .25rem
    &:hover
      &:after
        content '已排班時數：已經排班的時數加總。\A\A上班時數：執勤狀態為「已完成、\A尚未執勤、案主未遇」的時數加總。\A\A請假時數：請假的時數加總。\A\A*本區時數計算皆不包含假日'
        position absolute
        left 1.5rem
        width 214px
        padding .5rem
        background-color #9b9b9b
        border-radius 4px
        setTextStyle(0.75rem, 500, white_c)
        text-align left
        line-height 1.2
        white-space pre

.schedule__header__grid
  color #333

.grid__weekday
  font-size .875rem
  font-weight 500

.grid__date
  font-size 1.25rem

// WeekSchedule body
.schedule__body__row
  &+.schedule__body__row
    border-top schedule_border

.schedule__body__row__fixGrid
  color #666
  font-weight 500

.fixGrid__name
  color #2761bc

.fixGrid__appellation
  margin-top .25rem
  font-size .875rem

.schedule__body__row__grid
  position relative
  border-left schedule_border
  cursor pointer

.tag
  &+.tag
    margin-top .25rem
  &.none
    display none

.moreItems
  margin-top .5rem

.showMoreItem
  font-size .875rem
  color #333
  cursor pointer

.singleDayList
  position absolute
  z-index 30
  top -36px
  left -.5rem
  width calc(100% + 1rem)

.schedule__body__row__empty
  color #ccc
  font-style italic
  font-size 2rem
