// schedule setting
schedule_min_w = 1110px
schedule_max_h = 600px

// WeekSchedule global setting
.WeekSchedule
  position relative
  background-color #fff
  max-width 1366px
  min-width schedule_min_w
  max-height schedule_max_h
  border-radius 4px
  overflow scroll
  box-shadow 0 3px 6px 0 rgba(0, 0, 0, 0.16)
