schedule_header_h = 76px
schedule_min_w = 1110px

.WeekScheduleHeader
  position sticky
  top 0
  z-index 10
  border-radius 4px 4px 0 0
  background-color #ccc
  height schedule_header_h
  min-width schedule_min_w

  .schedule__header__grid
    width 100%
    color #333

  .grid__weekday
    font-size .875rem
    font-weight 500

  .grid__date
    font-size 1.25rem